ClientApp/Service References/ProductServiceRef/ProductServiceHost21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dotnetmentors.com/productservice" elementFormDefault="qualified" targetNamespace="http://dotnetmentors.com/productservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SetProductQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="qty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProductQtyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductQty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductQtyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>